<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h1>@<%= @user.username %>'s Profile & Tweets</h1>

				<%= link_to "Following", following_path(id: @user.id) %>
				<%= link_to "Followers", followers_path(id: @user.id) %>

				<p><%= @user.name %></p>
				<p><%= @user.location %></p>
				<p><%= @user.bio %></p>

				<p>
					<% if current_user.following.include?(@user.id) %>
						<!-- unfollow button -->
						<%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-primary", id:"unfollow_btn" %>
					<% else %>
						<!-- follow button -->
						<% if current_user.id != @user.id %>
						<%= link_to "follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
						<% end %>
					<% end %>
				</p>
			</div>

			<div class="panel-body">
				<% @user.tweets.order(created_at: :desc).each do |tweet| %>
					<div>
						<%= render 'layouts/tweet', tweet: tweet %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	
</div>