
<div class="panel panel-default">
<div class="panel-heading">
<%= image_tag profile_pic(tweet.user), size: 35 %>
<strong> <%= tweet.user.name %> </strong> @<%=link_to tweet.user.username, show_user_path(id: tweet.user.id) %>
<%= time_ago_in_words(tweet.created_at).gsub('about','') %> ago
</div class="panel-body">
<%= tweet.message.html_safe %>
</div>

